/***********************FORMATO GENERAL*********************************/

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}

ul{
  list-style: none;
}


:root{
  --header-color: linear-gradient(75deg,#37190f,#38190f,#39190f,#402918,#5a2918);
  --main-color: #5a2918;
  --text-color-main: #fff;
  --text-color-secondary: #000;
  --font-size-normal: clamp(2rem,2.5vh,3rem);
}

a{
  text-decoration: none;
  color: var(--text-color-main);
  font-size: var(--font-size-normal);
}

/***********************CABEZERA*********************************/

.header{
  background: var(--header-color);
  color: var(--text-color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  min-height: 8vh;
}

.nav,
.logo-container{
  display: flex;
  place-items: center;
}

.logo-container{
  min-width: 10%;
  font-size: 4rem;
}

.nav{
  width: 50%;
}

.menu{
  width: 100%;
  display: flex;
  place-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-x{
  color: var(--text-color-main);
  font-size: 30px;
  position: relative;
  display: none;
}


.menu li{
  width: 100%;
  height: 100%;
}

.nav-links{
  width: 100%;
  height: 100%;
}

.bars{
  height: 100%;
  font-size: 35px;
  display: none;
}

/***********************HERO*********************************/
.landing-page{
  background-image: url(/public/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  width: 100vw;
  height: 92vh;
}






/***********************MEDIAQUERIES*********************************/

@media (max-width:1300px){
  .nav{
      width: 75%;
  }
}


@media (max-width:900px){
  .menu{
    transition: right 0.5s ease-in-out;
    background: var(--header-color);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: -65%;
    height: 100vh;
    width: 65%;
    flex-direction: column;
    justify-content: unset;
  }

  

  .menu li{
    border-bottom: 1px solid white;
    height: 10%;
  }

  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover{
    cursor: pointer;
    background-color: var(--text-color-main);
    color: var(--text-color-secondary);
  }
  

  .bars,
  .nav-x{
    cursor: pointer;
    display: unset;
  }

  .nav-active{
    transition: right 0.5s ease-in-out;
    right: 0;
  }
}