/***********************FORMATO GENERAL*********************************/
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html{
  font-size: 62.5%;
  overflow-x:hidden;
}
body{
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

h1,
h2,
h3,
h4{
  font-family: var(--font-tittles);
  font-weight: 100;
}

p{
  font-family: var(--font-normal);
}

:root{
  --header-color: linear-gradient(75deg,#37190f,#38190f,#39190f,#402918,#5a2918);
  --main-color: #5a2918;
  --text-color-main: #fff;
  --text-color-secondary: #000;
  --font-size-Xlarge: clamp(2.5rem,3.6vh,7rem);
  --font-size-large: clamp(2rem,3vh,4rem);
  --font-size-normal: clamp(1rem,2.5vh,2rem);
  --font-tittles: 'cormorant garamond', Helvetica, Arial, sans-serif;
  --font-normal:'open sans', Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color-main);
  font-size: var(--font-size-normal);
}

/***********************CABEZERA*********************************/

.header{
  background: var(--header-color);
  color: var(--text-color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  min-height: 8vh;
}

.nav,
.logo-container{
  display: flex;
  place-items: center;
}

.logo-container{
  min-width: 10%;
  font-size: 4rem;
  font-family: var(--font-tittles);
  font-weight: 500;
}

.nav{
  width: 50%;
}

.menu{
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.nav-x{
  color: var(--text-color-main);
  font-size: 30px;
  position: relative;
  display: none;
}


.menu li{
  width: 100%;
  height: 100%;
}

.nav-links{
  width: 100%;
  height: 100%;
}


.nav-links:active{
  font-size: var(--font-size-normal)-0.5rem;
}

.bars{
  height: 100%;
  font-size: 35px;
  display: none;
}

/***********************HERO*********************************/
.landing-page{
  background-image: url(/public/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.landing-page_content{
  margin-right: 7%;
  width: 20%;
  min-width: 20%;
  border: 3px solid #fafafa10;
  background: #fafafa10;
  -webkit-backdrop-filter: blur(2.5rem);
  backdrop-filter: blur(2.5rem);
}

.line{
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
}

.landing-page_content h1{
   margin: 1rem;
  font-size: var(--font-size-Xlarge);
  font-family: var(--font-tittles);
  font-weight: 600;
  color: #1a0900;
}

.landing-page_content h2{
   margin: 1rem;
  font-size: var(--font-size-large);
  font-family: var(--font-tittles);
  font-weight: 400;
}




/***********************FORM*********************************/



.landing-page_content .form input{
  display: block;
  width: 95%;
  box-shadow: none;
  border: unset;
  opacity: 0.7;
  margin-top: 10px;
  padding: 7px;
}

.landing-page_content .form .comentario{
  height:190px;
}

.landing-page_content .form input.btn-call-to-action{
  margin-top: 1rem;
  color: var(--text-color-main);
  background-color: #570507;
  border: 1px solid #73332b;
  padding: 10px 20px;
  width: 99%;
  cursor: pointer;
} 


.btn-call-to-action:active{
  transform: scale(1);
}


.btn-call-to-action{
  margin-top: 1rem;
  color: var(--text-color-main);
  background-color: #570507;
  border: 1px solid #73332b;
  padding: 10px 20px;
  cursor: pointer;
} 
/***********************SERVICES*********************************/

.services{
  height: 50vh;
  min-height: 250px;
  background-color: var(--main-color) ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.services div{
  width: 80%;
  color: var(--text-color-main);
}

.services div i{
  font-size: var(--font-size-Xlarge);
}

.services div h2{
  font-size: var(--font-size-Xlarge);
}

.services div p{
  font-size: var(--font-size-normal);
}

/***********************FLUJO DE TRABAJO*********************************/

.workflow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.begining{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.begining h2{
  font-size: var(--font-size-Xlarge);
}

.begining p{
  font-size: var(--font-size-normal);
  width: 70%;
}

.balanza{
  font-size: 2rem;
  color: var(--main-color);
  position: relative;
  margin-top: 5%;
}


.lineZ{
  display: block;
  position: absolute;
  background-color: var(--main-color);
  height: 3px;
  width: 60px;
}

.lineZ.ol{
  top: 50%;
  right: 130%;
}

.lineZ.tl{
  top: 50%;
  left: 130%;
}

.protocol{
  padding-top: 5% ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.protocol div{
  max-width: 80%;
  height: 100%;
}

.protocol div img{
  max-width: 100%;
  box-shadow: 5px 5px 5px 1px var(--main-color);
}

.protocol div h2{
  font-size: var(--font-size-Xlarge);
}

.protocol div p{
  font-size: var(--font-size-normal);
}



.cut .balanza{
  margin: 100% 0 100% 0;
}


.ending{
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}


.ending div{
  max-width: 80%;
}


.ending div h2{
  max-width: 100%;
  font-size: var(--font-size-Xlarge);
  text-align: left;
}

.ending div p{
  max-width: 100%;
  font-size: var(--font-size-normal);
  text-align: left;
}

/***********************MEDIAQUERIES*********************************/

@media (max-width:1300px){
  .nav{
      width: 75%;
  }

  .landing-page_content{
    width: 30%;
    min-width: 30%;
  }

  .landing-page_content .form .comentario{
    height:150px;
  }
}


@media (max-width:900px){


  .landing-page{
    justify-content: center;
  }


  .landing-page_content .form .comentario{
    height:140px;
  }

  .menu{
    transition: right 0.5s ease-in-out;
    background: var(--header-color);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: -65%;
    height: 100vh;
    width: 65%;
    flex-direction: column;
    justify-content: unset;
  }

  

  .menu li{
    border-bottom: 1px solid white;
    height: 10%;
  }

  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover{
    cursor: pointer;
    background-color: var(--text-color-main);
    color: var(--text-color-secondary);
  }
  

  .bars,
  .nav-x{
    cursor: pointer;
    display: unset;
  }

  .nav-active{
    transition: right 0.5s ease-in-out;
    right: 0;
  }


  .landing-page_content{
  width: 50%;
}


.welcome_content{
  width: 90%;
}
}

@media (max-width:680px){
  .landing-page_content{
    width: 80%;
}
}