/***********************FORMATO GENERAL*********************************/
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html{
  font-size: 62.5%;
  overflow-x:hidden;
}
body{
  font-size: 1.6rem;
}

ul{
  list-style: none;
}


:root{
  --header-color: linear-gradient(75deg,#37190f,#38190f,#39190f,#402918,#5a2918);
  --main-color: #5a2918;
  --text-color-main: #fff;
  --text-color-secondary: #000;
  --font-size-Xlarge: clamp(2.5rem,4.6vh,7rem);
  --font-size-large: clamp(2rem,3.5vh,4rem);
  --font-size-normal: clamp(1rem,2.5vh,2rem);
}

a{
  text-decoration: none;
  color: var(--text-color-main);
  font-size: var(--font-size-normal);
}

/***********************CABEZERA*********************************/

.header{
  background: var(--header-color);
  color: var(--text-color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  min-height: 8vh;
}

.nav,
.logo-container{
  display: flex;
  place-items: center;
}

.logo-container{
  min-width: 10%;
  font-size: 4rem;
}

.nav{
  width: 50%;
}

.menu{
  width: 100%;
  display: flex;
  place-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.nav-x{
  color: var(--text-color-main);
  font-size: 30px;
  position: relative;
  display: none;
}


.menu li{
  width: 100%;
  height: 100%;
}

.nav-links{
  width: 100%;
  height: 100%;
}


.nav-links:hover{
  font-size: var(--font-size-normal)*2px;
}

.nav-links:active{
  font-size: var(--font-size-normal);
}

.bars{
  height: 100%;
  font-size: 35px;
  display: none;
}

/***********************HERO*********************************/
.landing-page{
  background-image: url(/public/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page_content{
  width: 40%;
  min-width: 40%;
  border: 3px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(2.5rem);
}

.line{
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
}

.landing-page_content h1{
   margin: 1rem;
  font-size: var(--font-size-Xlarge);
  color: #1a0900;
}

.landing-page_content h2{
   margin: 1rem;
  font-size: var(--font-size-large);
}


.btn-call-to-action{
  margin: 1rem;
  color: var(--text-color-main);
  background-color: #570507;
  border: 1px solid #73332b;
  padding: 10px;
  cursor: pointer;
}

.btn-call-to-action:hover{
  transform: scale(1.05);
}

.btn-call-to-action:active{
  transform: scale(1);
}

/***********************SERVICES*********************************/

.services{
  height: 50vh;
  min-height: 250px;
  background-color: var(--main-color) ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.services div{
  width: 80%;
  color: var(--text-color-main);
}

.services div i{
  font-size: var(--font-size-Xlarge);
}

.services div h2{
  font-size: var(--font-size-large);
}

.services div p{
  font-size: var(--font-size-normal);
}




/***********************MEDIAQUERIES*********************************/

@media (max-width:1300px){
  .nav{
      width: 75%;
  }
}


@media (max-width:900px){
  .menu{
    transition: right 0.5s ease-in-out;
    background: var(--header-color);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: -65%;
    height: 100vh;
    width: 65%;
    flex-direction: column;
    justify-content: unset;
  }

  

  .menu li{
    border-bottom: 1px solid white;
    height: 10%;
  }

  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover{
    cursor: pointer;
    background-color: var(--text-color-main);
    color: var(--text-color-secondary);
  }
  

  .bars,
  .nav-x{
    cursor: pointer;
    display: unset;
  }

  .nav-active{
    transition: right 0.5s ease-in-out;
    right: 0;
  }


  .landing-page_content{
  width: 80%;
}

}